.service_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: var(--spacing);
}
.service_card {
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  position: relative;
  height: 100%;
}
.service_link {
  display: block;
}
.service_card p:not(:last-child) {
  margin-bottom: 1rem;
}

.service_card:hover {
  background: var(--main-color);
  color: white;
}

.service_card:hover .arrow {
  opacity: 1;
  transform: scale(1);
}
.arrow {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}
.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgb(var(--foreground-rgb)) 20%,
    transparent 100%
  );
}
@media (width<700px) {
  .service_grid {
    grid-template-columns: auto;
  }
  .arrow {
    opacity: 1;
    transform: scale(0.6);
  }
}
