.privacy_policy h1 {
  font-size: clamp(32px, 4vw, 60px);
}
.content {
  max-width: 800px;
  margin-inline: auto;
}
.content h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
/* .content p:not(:last-child) {
  margin-bottom: 1rem;
} */
.content ul,
.content ol {
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
