.hero_section {
  height: 85svh;
}
.hero_wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 10vw;
}
.hero_title {
  font-size: clamp(40px, 6vw, 100px);
  text-align: center;
}
.subtitle {
  font-weight: 300;
  font-size: clamp(18px, 2vw, 40px);
}
