.hero_section {
  min-height: 75vh;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.hero_wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 8vw;
}
.hero_title {
  font-size: clamp(40px, 6vw, 100px);
  text-align: center;
}
.subtitle {
  font-weight: 300;
  font-size: clamp(18px, 2vw, 40px);
}
