.divider {
  width: 100%;
  height: 1px;
  background-color: white;
}
.projects_wrp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing);
}
.project_card {
  border-radius: var(--border-radius);
  color: white;
  overflow: hidden;
  position: relative;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 0.5s ease;
}
.project_card:hover .bg {
  transform: scale(1.1);
}
.project_card:hover .pc_content {
  opacity: 1;
}
.pc_content {
  padding: var(--card-padding);
  opacity: 0;
  background: #000000b3;
  transition: opacity 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  height: 100%;
}
.case_btn {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 50vw;
  transition: transform 0.1s ease;
  margin-top: auto;
}
.case_btn:hover {
  transform: scale(1.05);
  background: black;
}
@media (width<700px) {
  .projects_wrp {
    grid-template-columns: 1fr;
  }
  .pc_content {
    opacity: 1;
  }
}
