.testimonials_wrp {
  columns: 280px 3;
  gap: var(--spacing);
}
.card_title {
  margin: auto;
}
.testimonial_card {
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: var(--border-radius);
  padding: var(--card-padding);
  break-inside: avoid-column;
  margin-bottom: var(--spacing);
}
.top_wrp {
  display: flex;
  gap: 10px;
  align-items: center;
}
.top_right_wrp {
  display: flex;
  flex-direction: column;
}
.avatar {
  max-width: 75px;
  max-height: 75px;
}
.name {
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.description {
  opacity: 0.75;
}
.testimonial_card svg.quote_mark {
  margin: 1rem 0;
}
.testimonial_card svg path {
  fill: rgb(var(--foreground-rgb));
}
.testimonial_card p:not(:last-child) {
  margin-bottom: 1rem;
}
.testimonial {
  margin-bottom: 1rem;
}
